@import "tailwindcss";

@plugin "daisyui";

@theme {
  --color-primary: #C44536;
  --color-secondary: #D2691E;
  --color-accent: #F39C12;
}

/* Custom Utilities */
.container-custom {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}